@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #B0E0E6;
  color: #ff8866;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
}

p {
  font-weight: bold;
  text-align: center;
}

canvas {
  cursor: crosshair;
  border: 2px solid #ff8866; /* Borde negro */
  background-color: white; /* Fondo blanco */
  border-radius: 10px;
}

.botones {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #ff8866;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: transform 0.3s;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-size: 1rem;
}

button:hover {
  background-color: #e5735c;
  transform: scale(1.05)
}

@media (max-width: 600px) {
  canvas {
    width: 80vw !important;
    max-width: 350px;
    height: auto;
  }
}